name: Deploy

on:
  push:
    branches:
      - main

jobs:
  # Run all tests
  test:
    name: test

    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [14.x]

    steps:
      - uses: actions/checkout@v2

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node-version }}

      - run: npm ci

      - run: npm run lint:ci

      - run: npm i -g firebase-tools@9.23.0

      - run: npm run test:ci

  # Deploy application
  deploy:
    if: ${{ github.event_name == 'push' && github.repository == 'phuphadigital/comment-service' }}

    needs: test

    name: deploy

    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [14.x]

    steps:
      - uses: actions/checkout@v2

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node-version }}

      - name: Create Google Application Credentials
        id: create-json
        uses: jsdaniell/create-json@1.1.2
        with:
          name: "credentials.json"
          json: ${{ secrets.GOOGLE_APPLICATION_CREDENTIALS_JSON }}

      - run: npm ci

      - name: serverless deploy
        uses: serverless/github-action@master
        with:
          args: deploy --stage prod --resourceGroup ${AZURE_RESOURCE_GROUP} --subscriptionId ${AZURE_SUBSCRIPTION_ID} --storageNameSuffix ${AZURE_STORAGE_NAME_SUFFIX}
        env:
          AZURE_CLIENT_ID: ${{ secrets.AZURE_CLIENT_ID }}
          AZURE_CLIENT_SECRET: ${{ secrets.AZURE_CLIENT_SECRET }}
          AZURE_RESOURCE_GROUP: ${{ secrets.AZURE_RESOURCE_GROUP }}
          AZURE_STORAGE_NAME_SUFFIX: ${{ secrets.AZURE_STORAGE_NAME_SUFFIX }}
          AZURE_TENANT_ID: ${{ secrets.AZURE_TENANT_ID }}
